.product {
  &__title {
    text-align: center;
    color: $color-primary;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__desc {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  &__item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    position: relative;
    height: 30rem;
    overflow: hidden;
    cursor: pointer;

    &-img {
      transform: scale(1.6);
      transition: all 1s ease-out;
      position: relative;
    }

    &:hover &-img {
      transform: scale(1);
    }

    &-shadow {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20rem;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }

    &-label {
      width: max-content;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.5rem;
      font-weight: 500;
      color: $color-white;
    }
  }
}
