@import "ui/button";
@import "ui/input";

@import "home/intro";
@import "home/about";
@import "home/product";
@import "home/advertisement";
@import "home/home-ads";
@import "home/project";
@import "home/customer-review";
@import "home/partner";
@import "home/news";
@import "home/contact";

@import "product-detail/index.scss";
