.ads {
  height: max-content;
  position: relative;
  height: 40rem;
  margin: 4rem 0;

  &__img {
    filter: blur(3px);
  }

  &__blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    background-color: rgba($color-black, 0.3);
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
  }
}
