.partner {
  margin: 3rem 0;

  &__title {
    text-transform: uppercase;
    color: $color-primary;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }

  &__icon {
    color: $color-primary;
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
  }

  &__sub {
    text-transform: uppercase;
    color: $color-black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex: 0 0 20%;
    background-color: $color-white;
    box-shadow: 0 0 0.5rem 0.5rem rgba($color-black, 0.1);
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &-avt {
      width: 5rem;
      height: 5rem;
      border-radius: 999rem;
      overflow: hidden;
    }

    &-content {
      text-align: center;
    }
  }

  &__action {
    color: $color-black;
  }
}
