.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 2px solid $color-gray;

  &--black {
    background-color: rgba($color-black, 0.9);
    border-bottom: none;
  }

  &--white {
    background-color: $color-white;
    border-bottom: 4px solid $color-primary;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  &__logo {
    cursor: pointer;
  }
}

.header-menu {
  display: grid;
  grid-auto-flow: column;

  &--white {
    .header-menu__item {
      padding: 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      font-size: 1.3rem;
      font-weight: 600;
      color: $color-gray;
      text-transform: uppercase;

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }

  &__item {
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-white;
    text-transform: uppercase;

    &:hover {
      background-color: $color-gray;
      color: $color-white;
    }
  }
}
