@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "abstracts/index.scss";

@import "base/index.scss";

@import "components/index.scss";

@import "layouts/index.scss";

@import "pages/index.scss";
